html {
    height: 100%;
    font-family: "Courier New", Courier, monospace;
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0px;
    overflow: hidden;
    background-color: black;
    height: 100vh;
    min-height: 100%;
    display: flex;
    flex-direction: row;
}

#background {
    margin: 0px;
    height: 100vh;
    min-height: 100%;
    width: 85%;
}

#sidebar {
    min-width: 100px;
    width: 15%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: darkblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#json-state {
    height: wrap-content;
    width: auto;
    text-shadow: 3px 3px 3px black;
    font-size: 1.4vw;
    line-height: 1.5;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
}

.button-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2vw;
    /* width: 100%; */
    /* max-width: 400px; */
    margin: 2vw 0;
}
.button {
    padding: 1vw 2vw;
    font-size: 1.6vw;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    background-color: #333333;
    border: 0.2vw solid #333333;
    border-radius: 0.5vw;
    transition:
        background-color 0.3s,
        color 0.3s;
    /* width: 100%; */
    box-sizing: border-box;
}

.button:hover {
    background-color: #555555;
    color: #ffffff;
}

.button:active {
    background-color: #222222;
    border-color: #222222;
}

/* 
.slider {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    flex-direction: column;
}

input[type="range"] {
    width: 100%;
    color: #ffffff;
    background-color: #333333;
    border: 2px solid #333333;
    border-radius: 5px;
}

 .button.primary {
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.button.primary:hover {
  background-color: #45a049;
}

.button.secondary {
  background-color: #ff9800;
  border-color: #ff9800;
}

.button.secondary:hover {
  background-color: #f57c00;
} */
